<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>Container - {{title}}</title>
        
        <link rel="favicon" href="{% static '/img/' %}" />
        
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
        
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
        <script src="{% static '/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
        
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
        
        
        <link rel="stylesheet" href="{% static '/css/fontawesome-all-5.2.0.css' %}" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="{% static '/css/jquery.dataTables.min.css' %}" rel="stylesheet" id="datatable-css">
        <script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
   
    </head>
    {% include "includes/header.html" %}
    <body class="container" style="background-color: #DCE0FA; padding-top: 80px;">
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>